
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, 'Courier New', Courier;
    margin: auto;
}

/**styling the body **/

body {
    font-weight: 400;
    font-size: 20px;
    width: auto;
    font-family: Cormorat Garamond;
    background-color:wheat ;
    /**background: linear-gradient(to right,
   #009A44 30%, #FEDD00 0 70%, #EF3340 0); **/
}

/**styling the logo container **/

#motto {
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    margin-top: 20px;
    margin-right: 100px;
    word-spacing: 10px;
    position: relative;
    float:right;
    /** background: linear-gradient(to right,
   #009A44 30%, #FEDD00 0 70%, #EF3340 0); **/

}

#logoimg1 {
    background: url('../images/Landing_page_img1.jpg')no-repeat;
   width: 50%;
    height: 100%;
   float:left; 
}


.header-container {
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 10px 2px;
    width:100%;
    height:300px;
    background-color:  #009A44 ;
} 

 
#heading {
    text-align: center;
    margin-top: 30px;
}


/**were commented 
.intro {
    text-align: justify;
    padding: 20px 10px;
    margin-top: 20px 20px;
    font-style: italic;
}

/**styling the info page **/
.info-container {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 10px 2px;
    background-color: wheat;
}

 
.intro{margin-left: auto;
    margin-right: auto;
    width:32em;
    text-align: justify;
    font-size: 30px;
}

#coffee{
    background: url('../images/coffee-1331428_640.jpg')no-repeat;
    margin-top: 20px;
    margin-left: 40px;
    width: 25%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
    float:left;
    }
    


#animal{
background: url('../images/Simien_Mountains_National_Park_001.jpg')no-repeat;
margin-top: 20px;
margin-bottom: 50px;
margin-right: 120px;
margin-left: 40px;
width: 25%;
height: 400px;
border-radius: 50px;
float:left;
}


.btn {
    margin: 0;
    padding: 0;
    float: left;
}

.controls {
    padding: 10px 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    width: 400px;
}

 #footer {
    font-size: 20px;
    text-align: center;
    background: linear-gradient(to right,
            #009A44 30%, #FEDD00 0 70%, #EF3340 0);
    box-shadow: 0 0 10px 2px;
    bottom: 0;
    position: fixed;
    height: 100px;
    width: 100%;
} 


.container,
.score-area {
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.button-grid{
   display: grid;
   grid-template-columns: repeat(2,auto);
   gap:10px;
   width: 500px;
}

btn:hover {
    border-color: black;
}

.select-btn {
    border-color: black;
}

.select-btn {
    font-size: 1em;
    padding-right: 10px;
    width: 100%;
    display: flex;
}

.controls {
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

/**
  *,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, 'Courier New', Courier;
    margin: auto;
}
**/



/** Media queries **/

/** for larger to medium screen sizes, 1200px wide and below **/
@media screen and (max-width: 1200px) {
    .header-container {
        width: 100%;
        float: left;
    }


    #motto {
        font-size:8vw;
    }


   /** #left-block,
    #right-block {
        width: 100%;
    }

    #hero-image1,
    #hero-image2 {
        width: 100%;
        height: 300px;
    }



    #logo {
        font-size: 50px;
    }

    footer {
        font-size: 20px;
        margin-right: 10rem;
        margin-left: 12rem;
    }


    /** for medium screen sizes, 1024ppx wide and below 
    @media screen and (max-width: 1024px) {

       /** #celebs {
            width: 100%;
            margin: 0 auto;
        }

        nav a,
        .dropbtn {
            font-size: 10px;
            height: 5px;
            line-height: 5px;
        }

        body {
            font-size: 14px;
        }

        footer {
            font-size: 10px;
            margin: auto 0;
        }

        #logo {
            font-size: 2rem;
            margin: auto 0;
        }

        #header {
            margin: auto 0;
        }
    }
} **/