@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family:Montserrat, sans-serif,'Courier New', Courier;
    margin: auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
    font-size: 20px;
    width:auto; 
}

.header{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: center;
    background-color:#009A44;
    box-shadow: 0 0 10px 2px;
}

#heading{
    text-align: center;
    margin-top: 20px;
}

.intro{
    text-align: justify;
    padding: 20px 10px;
    margin-top: 20px 20px;
    font-style: italic;
}
 
.info-container {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 10px 2px;
    background-color:#FEDD00;
}

#eth1 {
    background: url('../images/eth1.jpg')no-repeat;
    margin-top: 20px;
    width: 25%;
    height: 300px;
    display: inline;
}

#eth2 {
    background: url('../images/eth2.jpg')no-repeat;
    margin-top: 20px;
    width: 25%;
    height: 300px;
    display: inline-block;
    width:30%;
}

#eth3 {
    background: url('../images/eth3.jpg')no-repeat;
    margin-top: 20px;
    width: 25%;
    height: 300px;
    display: inline-block; 
}

#footer{
    font-size: 20px;
    text-align: center;
    background-color:#EF3340;
    box-shadow: 0 0 10px 2px;
    bottom:0;
    position:absolute;
    height:100px;
    width:100%;
}

/**
.container, .score-area{
   background-color: bisque;
   border-radius: 5px;
   padding:10px;
   box-shadow: 0 0 10px 2px;
}

.buttons{
   margin: 20px 0;
   display:grid;
   grid-template-columns: repeat(2,auto);
   gap:20px;
 }
 
.btn{
    padding: 10px 10px;
    border-radius:5px;
    width:300px;
  }

  btn:hover{
    border-color:black;
  }

 .select-btn{
    border-color:black;
  }

  .select-btn{
   font-size: 1em;
   padding-right:10px;
   width:100%;
   display: flex;
  }

  .controls{
   justify-content: center;
   align-items: center;
   margin-right: auto;
  }
**/
