@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, 'Courier New', Courier;
    margin: auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: auto;  
}

.header-container {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: right;
    padding: 20px;
    /** background: linear-gradient(to right,
   #009A44 30%, #FEDD00 0 70%, #EF3340 0); **/
}

#first_img {
    background: url('../images/flag3.jpg')no-repeat;
    margin-top: 10px;
    margin-right: 40px;
    float:left;
    width: 50%;
    height: 600px;
    padding:10px;
}



#motto{
    margin-top: 80px;
    font-family: cursive;
    margin-right: 40px;
}




#heading {
    text-align: center;
    margin-top: 20px;
}

.intro {
    text-align: justify;
    padding: 20px 10px;
    margin-top: 20px 20px;
    font-style: italic}

.info-container {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 10px 2px;
}



#eth2 {
    background: url('../images/eth2.jpg')no-repeat;
    margin-top: 20px;
    width: 25%;
    height: 300px;
    display: inline-block;
    width: 30%;
    border-radius: 50%;
}

 #eth3 {
    background: url('../images/eth3.jpg')no-repeat;
    margin-top: 20px;
    width: 25%;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom:20px;
}

#cover-page{
background: url('../images/cover-page.jpg')no-repeat;
margin-top: 20px;
width: 25%;
height: 300px;
border-radius: 10px;
margin-bottom:20px;
float:left;
}

.btn {
    margin: 0;
    padding: 0;
    float: left;
}

.controls {
    padding: 10px 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    width: 400px;
}



#footer {
    font-size: 20px;
    text-align: center;
  background-color: #EF3340; 
  background-image: linear-gradient(120deg,#009A44,#FEDD00, #EF3340);
  background: linear-gradient(to right,
   #009A44 30%, #FEDD00 0 70%, #EF3340 0);
    box-shadow: 0 0 10px 2px;
  /**  bottom: 0; **/
   position: absolute; 
    height: 100px;
    width: 100%;
}

/**
.container, .score-area{
   background-color: bisque;
   border-radius: 5px;
   padding:10px;
   box-shadow: 0 0 10px 2px;
}


  btn:hover{
    border-color:black;
  }

 .select-btn{
    border-color:black;
  }

  .select-btn{
   font-size: 1em;
   padding-right:10px;
   width:100%;
   display: flex;
  }

  .controls{
   justify-content: center;
   align-items: center;
   margin-right: auto;
  }
**/